<HTML>
<head>
</head>
<body>
<form method="GET" action="ajoutclient.php">
<table>
<caption>Ajouter Client</caption>
<tr>
<td>Nom</td>
<td><input type="text" name="nom"></td>
</tr>
<tr>
<td>Prenom</td>
<td><input type="text" name="prenom"></td>
</tr>
<tr>
<td>Adresse</td>
<td><input type="text" name="adresse"></td>
</tr>
<tr>
<td>Numero de telephone</td>
<td><input type="number" name="num"></td>
</tr>
<tr>
<td>Identifiant</td>
<td><input type="number" name="id"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>